:root {
  --bck0: #ffffff;
  --bck1: rgb(237, 237, 237);
  --bck2: #f7f7f7;
  --black: #141414;
  --blue: rgb(0, 0, 256);
  --textSize0: 12px;
  --textSize1: 14px;
  --textSize2: 16px;
  --fLight: 100;
  --fRegular: 400;
  --fBold: 600;

  --mainMargin: 42px;
  --mainPadding: 36px;
  --q1Margin: 24px;

  --headerHeight: 65px;
  --indexWorkMargin: 300px;

  --mainHeight: calc(100vh - 110px);
  --mainWidth: calc(100vw - ((var(--mainMargin) * 2) + var(--mainPadding)));
  --mainWidthMq2: calc(100vw - 56px);
  --headerTextOffset: 50px;
}

* {
  box-sizing: border-box;
  /* disable on touch highlights of html elements, especially on mobile! */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Twkeverett, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bck0);
  color: #fff;
  opacity: 1;
  /* disable scrolling / rubberband effect on mobile */
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: var(--black);
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 24px;
}
.navbar {
  height: var(--headerHeight);
  mix-blend-mode: multiply;
}
.navbar > div {
  height: 65px;
}
.nav-link {
  padding: 0px 8px 10px;
}
#glcanvas {
  display: block;
  top: 0;
  left: 0;
  outline: 0;
  z-index: 1;
  mix-blend-mode: multiply;
}
.canvasmask {
  background-color: #ffffff;
  z-index: 6;
}
.backgroundmask {
  background-color: #ffffff;
  position: absolute;
  z-index: 6;
}
#backgroundMask1 {
  height: 0vh;
  right: 0;
  left: calc(((var(--mainWidth) / 6) * 2));
  bottom: 0;
}

#backgroundMask2 {
  position: absolute;
  left: 0px;
  /* right: calc(var(--mainMargin) + (var(--mainWidth) / 6)); */
  right: calc(
    (((var(--mainWidth) / 6) * 4) + var(--mainMargin)) - var(--headerTextOffset)
  );
  top: 0px;
  bottom: 0px;
}
[context="works"] #backgroundMask2 {
  height: 100vh;
  width: calc(((var(--mainWidth) / 6) * 2));
  left: 0;
  bottom: 0;
  display: block;
}
#backgroundMask3 {
  height: 0vh;
  right: 0;
  left: calc(((var(--mainWidth) / 6) * 3));
  bottom: 0;
}
#canvasMask1 {
  height: 100vh;
  left: calc((var(--mainWidth) / 6) + var(--mainMargin) + var(--mainPadding));
  /* right: calc(var(--mainMargin) + (var(--mainWidth) / 6)); */
  right: calc(var(--mainMargin));
  position: absolute;
}
[context="works"] #canvasMask1 {
  height: 100px;
  left: 0;
  width: calc((var(--mainWidth) / 6) + var(--mainMargin) + var(--mainPadding));
  position: fixed;
}
#canvasMask2 {
  position: fixed;
  height: 65px;
  width: calc((var(--mainWidth) / 6) + var(--mainMargin));
  top: 0;
  bottom: 0;
  right: 0;
}
#canvasMask3 {
  position: fixed;
  height: 55vh;
  width: calc((var(--mainWidth) / 6));
  left: calc(var(--mainMargin) + var(--mainPadding));
}
#canvasMask4 {
  position: fixed;
  top: 0;
  width: calc(
    (var(--mainWidth) / 6) + var(--mainPadding) + var(--headerTextOffset)
  );
  left: calc(
    (var(--mainWidth) / 6) + var(--mainPadding) - var(--headerTextOffset)
  );
}
[context="works"] #canvasMask4 {
  position: fixed;
  height: 65vh;
  width: calc((var(--mainWidth) / 6) + var(--mainPadding));
  left: calc((var(--mainWidth) / 6) + var(--mainPadding));
}
#canvasMask5 {
  position: absolute;
  height: calc(100vh + var(--indexWorkMargin));
  left: calc(
    ((var(--mainWidth) / 6) * 2) + var(--mainMargin) + var(--mainPadding)
  );
  /* right: calc(var(--mainMargin) + (var(--mainWidth) / 6)); */
  right: var(--mainMargin);

  top: -2px;
}

.srcshape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  mix-blend-mode: multiply;
}

#scrollText {
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 10;
  bottom: -13px;
}

#scrollText ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: scrollTextAnim 30s infinite linear;
}

#scrollText ul li {
  white-space: nowrap;
  display: flex;
  margin: 0 20px 0 0;
  font-size: 30px;
  font-weight: 100;
  color: black;
}

#logo {
  z-index: 1001 !important;
  filter: brightness(0);
  height: var(--headerHeight);
  left: calc((var(--mainPadding)) + var(--mainMargin));
}

#logo #logoPlayer {
  transform: scale(0.8);
  transform-origin: center left;
}

#logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#logoPlayer {
  height: var(--headerHeight);
}

nav a {
  color: var(--black);
}

.w-nav-link.w--current {
  color: var(--bck0);
}
.w-nav-link.highlight {
  color: var(--black);
  font-weight: var(--fRegular);
  text-decoration: underline;
}

.vjs-loading-spinner {
  display: none !important;
}

@keyframes scrollTextAnim {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* indexPage */

[context="index"] main,
[context="index"] #about {
  /* width: calc(100vw - (var(--mainMargin) + var(--mainPadding))); */
  padding-left: calc(var(--mainMargin) + var(--mainPadding));
  padding-right: var(--mainMargin);
  position: relative;
  z-index: 3;
}

[context="index"] .srcshape {
  mix-blend-mode: multiply;
}

[context="index"] #void {
  height: 100vh;
}

[context="index"] #about {
  mix-blend-mode: multiply;
}

[context="index"] #work #workList {
  margin-bottom: var(--indexWorkMargin);
}

[context="index"] #header {
  height: 110vh;
  position: relative;
  z-index: 5;
  mix-blend-mode: multiply;
  pointer-events: none;
}
[context="works"] #header {
  position: relative;
  z-index: 5;
  mix-blend-mode: multiply;
  pointer-events: none;
}
[context="index"] #header #workFields {
  display: none;
}
[context="index"] #workList .w-dyn-items,
[context="index"] #aboutList .w-dyn-item {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  /* grid-template-columns: repeat(6, calc(var(--mainWidth) / 6));
  grid-template-rows: repeat(auto, calc(var(--mainWidth) / 6)); */
}
[context="index"] #aboutList .w-dyn-item {
  height: 100vh;
}
[context="index"] #aboutList {
  height: 100%;
  color: var(--black);
}
[context="index"] .w-richtext ul[role="list"] > li {
  font-weight: 800;
  list-style: none;
  font-size: 14px;
}
[context="works"] .w-richtext ul[role="list"] > li {
  font-weight: var(--fBold);
  list-style-image: url("https://cdn.prod.website-files.com/630ca11296e48c2b70f1013e/677187a0d82d856d66f04fe4_bullet1.svg");
  font-size: var(--textSize1);
}
[context="index"] .w-richtext ul[role="list"] {
  margin-top: 8px;
}
[context="works"] .w-richtext ul[role="list"] {
  margin-bottom: 0px;
}
[context="index"] .w-richtext ul[role="list"] > li > ul > li {
  font-weight: 600;
  list-style-image: url("https://cdn.prod.website-files.com/630ca11296e48c2b70f1013e/677187a0d82d856d66f04fe4_bullet1.svg");
  font-size: 14px;
}
[context="works"] .w-richtext ul[role="list"] > li > ul > li {
  font-weight: var(--fLight);
  font-size: var(--textSize0);
  list-style-image: url("https://cdn.prod.website-files.com/630ca11296e48c2b70f1013e/677187a04c587e02fd7dfa86_bullet2.svg");
}

[context="index"] .w-richtext ul[role="list"] > li > ul > li > ul > li {
  font-weight: var(--fLight);
  font-size: var(--textSize0);
  list-style-image: url("https://cdn.prod.website-files.com/630ca11296e48c2b70f1013e/677187a04c587e02fd7dfa86_bullet2.svg");
}
[context="index"] #curriculum {
  grid-column: 4 / 6; /* Start at 4, end before 6 (so 4 and 5) */
  grid-row: 1;
}
[context="index"] #curriculum .w-richtext {
  position: relative;
  top: 150px;
  left: 25px;
}
[context="index"] #links {
  grid-column: 6;
  grid-row: 1;
  position: relative;
  left: 100px;
}
[context="index"] #links #linksWrapper {
  position: relative;
  top: 80vh;
  font-weight: 200;
}
[context="index"] #links #textContact {
  align-items: flex-end;
  font-size: 12px;
  position: relative;
  right: 201px;
  bottom: 20px;
}
[context="index"] #links #linksContact {
  display: flex;
  flex-direction: column;
  color: var(--black);
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
}
[context="index"] #about a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 5px;
}

[context="index"] #about a:hover {
  text-decoration: underline;
}

[context="index"] .collection-list .work {
  /* max-width: calc(var(--mainWidth) / 6); */
  width: 100%;
  height: 100%;
}

[context="index"] .collection-list .work .video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire parent space */
  aspect-ratio: 1 / 1;
}
[context="index"] .videojs-work {
  width: 100%;
  height: 100%;
}
[context="index"] .videojs-about {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: var(--headerHeight);
  opacity: 0;
}

[context="index"] .collection-list .work .video .videojs-work video {
  height: 100%;
  overflow: hidden;
}
[context="index"] .videojs-about video {
  width: 100%;
}
[context="index"] .w-dyn-item #image {
  grid-area: 1/3;
}

[context="index"] .vjs-poster {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

[context="index"] #logo {
  position: fixed;
  top: 50vh;
  left: 100px;
}

[context="index"] #background {
  /* width: var(--mainWidth); */
  /* height: var(--mainHeight); */
  background-color: var(--bck2);
  position: fixed;
  top: 65px;
  bottom: 0px;
  left: calc(var(--mainMargin) + var(--mainPadding));
  right: var(--mainMargin);
  z-index: 0;
  transform-origin: center right;
}

[context="index"] .text-block {
  left: 100px;
  top: 55vh;
  font-size: 12px;
}
[context="index"] .deco {
  z-index: 7;
  background-color: var(--black);
}

[context="index"] #deco1 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 60px;
  width: 10px;
  height: 50px;
  z-index: 4;
  background-color: #a2a2a2;
}

[context="index"] #deco2,
[context="index"] #deco3 {
  position: fixed;
  top: var(--headerHeight);
  left: calc((var(--mainWidth) / 6) + var(--mainPadding));
  width: 12px;
  height: 2px;
  background-color: var(--black);
}

[context="index"] #deco2 {
  height: 3px;
  width: 20px;
}

[context="index"] #deco3 {
  top: 55vh;
}
[context="index"] #deco4,
[context="index"] #deco5 {
  width: 20px;
  position: relative;
  right: 250px;
}
[context="index"] #deco4 {
  height: 4px;
  bottom: 30px;
}
[context="index"] #deco5 {
  height: 2px;
}

[context="index"] #decoText1 {
  position: fixed;
  top: calc(var(--headerHeight) - 15px);
  left: calc(var(--mainMargin) + var(--mainPadding));
  color: var(--black);
  font-weight: 100;
  z-index: 10;
  padding-left: 20px;
  font-size: 12px;
}

[context="index"] #text1 {
  z-index: 7;
  position: fixed;
  width: calc((var(--mainWidth) / 6) + var(--mainPadding));
  top: 55vh;
  left: calc((var(--mainWidth) / 6) + var(--mainPadding));
  margin-top: 25px;
  color: var(--black);
  font-size: var(--textSize0);
  font-family: Twkeverett, sans-serif;
  font-weight: var(--fLight);
  opacity: 1;
}

[context="index"] main {
  z-index: 4;
  min-height: 110vh;
  /* margin: 0 0 500px 0; */
  /* background-color: aqua; */
}

[context="index"] main .work {
  margin: 0 0 20px 0;
  opacity: 0;
  position: relative;
  top: 100px;
}

[context="index"] main .work.workIndex {
  z-index: 10;
}

[context="index"] main .work .image {
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0 0 0 0;
  overflow: hidden; /* Prevent content from resizing the cell */
  min-width: 0; /* Prevents cells from expanding beyond the grid size */
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  /* align-items: flex-end; */
}
[context="index"] main .work .description {
  display: none;
}

[context="index"] main .work .workelement {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(100%) contrast(1.5);
  background-size: cover;
}

[context="index"] main .work #gallery {
  display: none;
}

[context="index"] main .work a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 5;
}

[context="index"] main .work .image {
  background-color: transparent;
}
[context="index"] main .work .image .tint {
  background-color: transparent;
  /* filter: opacity(0) grayscale(0%); */
}
[context="index"] main .work {
  filter: grayscale(1) contrast(1.2);
}

[context="index"] main .work:hover {
  filter: grayscale(0) contrast(1);
  transition: filter 0.1s ease;
}

/* [context="index"] main .work .tint:hover {
  filter: opacity(100) grayscale(0%);
  mix-blend-mode: lighten;
  transition: filter 0.1s ease; 
} */

[context="index"] main .work .title {
  color: var(--black);
  opacity: 0;
}

[context="index"] main .work .title.textVisible {
  opacity: 1;
  transition: opacity 0.1 ease;
}

[context="index"] main .work .title div {
  display: inline-block;
  background-color: var(--bck0);
  padding: 0 5px;
}

[context="index"] main .basegrid {
  background-color: red;
  aspect-ratio: 1/1;
  position: relative;
}

[context="works"] main {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  display: grid;
}

[context="index"] #text1 {
  position: fixed;
  top: 55vh;
}

[context="index"] #about {
  color: var(--bck1);
  z-index: 6;
  height: 100vh;
}

[context="index"] #about #textabout {
  font-size: 20px;
  font-weight: var(--fLight);
  opacity: 0;
}

/* workPage */

[context="works"] #multiplier,
#multiplier .galleryelement {
  display: none;
}

[context="works"] nav.nav-menu a {
  color: var(--black);
}

[context="works"] .srcshape {
  z-index: 5;
}

[context="works"] main {
  /* grid-template-rows: var(--headerHeight) auto; */
  color: var(--black);
  top: 0px;
  bottom: 0px;
  left: calc(var(--mainMargin) + var(--mainPadding));
  right: var(--mainMargin);
  background-color: transparent;
  position: fixed;
  z-index: 6;
}
[context="works"] .infowrapper {
  background-color: transparent;
  padding-top: var(--headerHeight);
}
[context="works"] .infowrapper .w-richtext {
  padding-bottom: 20px;
}
[context="works"] #col2 .infowrapper .w-richtext {
  padding: 40px 20px 20px 20px;
}
[context="works"] #col1 .infowrapper {
  padding-left: 50px;
}

[context="works"] .infoheader {
  height: var(--headerHeight);
  background-color: var(--bck0);
}

[context="works"] main #col1 {
  grid-area: 1/1;
}
[context="works"] main #col1 .infoheader {
  position: fixed;
  left: 0px;
  width: calc((var(--mainWidth) / 6) + var(--mainPadding) + var(--mainMargin));
}

[context="works"] main #col2 {
  grid-area: 1/2;
}
[context="works"] main #col2 p {
  margin-top: 65px;
}

[context="works"] #col1 .infowrapper > *:not(h1) {
  padding-left: var(--mainPadding);
}

[context="works"] main #col6 {
  grid-area: 1/6;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  z-index: 5;
}

[context="works"] #background {
  /* width: var(--mainWidth); */
  height: calc(100vh - var(--headerHeight));
  background-color: var(--bck1);
  position: fixed;
  top: var(--headerHeight);
  left: calc(var(--mainMargin) + var(--mainPadding));
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

[context="works"] main img {
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0 0 0 0;
  grid-area: 1/1;
  /* margin: 50px 0 0 0; */
  filter: grayscale(100%);
}

[context="works"] .heading {
  font-size: var(--textSize1);
  margin: 0;
  margin-top: 10px;
  margin-left: 26px;
  line-height: 24px;
}
[context="works"] #infoList {
  margin-top: 10px;
}
[context="works"] .infowrapper {
  padding-top: var(--headerHeight);
}

[context="works"] main #description p {
  align-self: flex-end;
  margin: 0;
  font-size: var(--textSize0);
  font-weight: var(--fLight);
}

[context="works"] #deco1,
#deco2 {
  position: relative;
  width: 20px;
  height: 2px;
  /* z-index: 4; */
  background-color: var(--black);
}

[context="works"] div#deco1 {
  top: -10px;
}

[context="works"] div#deco2 {
  left: 200px;
  top: 70px;
}

[context="works"] main .textlist ul {
  color: var(--black);
}

[context="works"] main #imageList {
  justify-content: flex-end;
  align-items: center;
}

[context="works"] main #imageList li {
  list-style-type: none;
}
[context="works"] main #imageList li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--bck0);
  margin: 8px 0;
  opacity: 0.5;
}
[context="works"] main #imageList li.active a {
  opacity: 1;
  background-color: var(--black);
}
[context="works"] main #imageList li {
  cursor: pointer;
}
[context="works"] #logo {
  position: fixed;
  top: 0vh;
  left: 100px;
  z-index: 4;
}

[context="works"] #playerControls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25px; /* needs defined width */
  height: 40px; /* needs defined height */
  z-index: 10;
}

[context="works"] #playerControls > div {
  width: 25px; /* needs defined width */
  height: 40px; /* needs defined height */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

[context="works"] .backgroundmask {
  display: none;
}

#playerControls {
  /* Add your positioning styles */
  transition: opacity 0.3s ease;
}

/* Optional: fade out when inactive */
#playerControls.inactive {
  opacity: 0;
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  body {
    font-size: var(--textSize0);
    font-weight: 200;
    /* opacity: 0; */
  }
  [context="index"] #canvasMask1 {
    left: calc(var(--mainMargin) + var(--mainPadding));
  }

  [context="index"] #backgroundMask1 {
    height: 45vh;
    left: 0;
    right: 0;
  }
  [context="index"] backgroundMask3 {
    display: none;
  }
  [context="index"] #canvasMask4 {
    width: calc((var(--mainWidth) / 3) * 2 + var(--mainPadding));
    height: 100vh;
  }

  [context="index"] #workList .w-dyn-items,
  [context="index"] #aboutList .w-dyn-item {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    /* grid-template-columns: repeat(6, calc(var(--mainWidth) / 6));
  grid-template-rows: repeat(auto, calc(var(--mainWidth) / 6)); */
  }

  [context="works"] main {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    display: grid;
  }
  [context="works"] main #col6 {
    grid-area: 1 / 3;
  }
  [context="works"] #col1 .infowrapper > *:not(h1) {
    padding-left: var(--mainPadding);
  }
  [context="works"] main #col1 .infoheader {
    width: calc(
      (var(--mainWidth) / 3) + var(--mainPadding) + var(--mainMargin)
    );
  }
  [context="works"] main #col2 .infowrapper {
    padding: 0;
    overflow: scroll;
    max-height: 35vh;
  }
  [context="works"] main #description {
    padding: 0 20px;
  }

  nav.nav-menu {
    align-items: center;
    display: flex;
    margin-right: var(--mainMargin);
    align-items: center;
  }
  nav.nav-menu a {
    padding: 0 8px;
    color: var(--black);
  }
  #logo {
    left: calc((var(--mainPadding)) + var(--mainMargin)) !important;
  }
  [context="index"] #text1 {
    width: calc((var(--mainWidth) / 3) + var(--mainPadding));
    left: 20vw;
  }
  [context="index"] #decoText1 {
    top: calc(var(--headerHeight) + 20px);
  }
  [context="works"] div#deco2 {
    left: 5px;
    top: 5px;
    padding: unset !important;
  }
  [context="index"] #deco2,
  [context="index"] #deco3 {
  }
  [context="index"] main .work {
    filter: grayscale(1) brightness(0.8) contrast(2);
  }
  [context="index"] main .work .description {
    display: flex;
    position: absolute;
    color: var(--black);
    font-weight: 200;
    padding-left: var(--mainPadding);
    padding-top: 20px;
    padding-right: 20px;
    font-size: 12px;
    opacity: 0;
  }

  [context="index"] .w-dyn-item #image {
    grid-area: 1/1;
  }
  [context="index"] #curriculum {
    grid-area: 1/2;
  }
  [context="index"] #links {
    grid-area: 1/3;
  }
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  [context="index"] #workList .w-dyn-items,
  [context="index"] #aboutList .w-dyn-item {
    display: flex;
    flex-direction: column;
  }
  [context="index"] main {
    padding-left: var(--q1Margin);
    padding-right: var(--q1Margin);
  }
  [context="index"] #logo {
    left: 32px;
  }
  [context="index"] #background {
    left: var(--q1Margin);
    right: var(--q1Margin);
  }
  [context="index"] #void {
    height: 0;
    margin-bottom: unset;
  }
  [context="index"] #work {
    mix-blend-mode: unset;
  }
  [context="index"] main .work {
    opacity: 1;
  }

  [context="index"] #canvasMask1,
  [context="index"] #canvasMask4 {
    left: var(--q1Margin);
    right: var(--q1Margin);
  }
  #backgroundMask1 {
    height: 45vh;
  }
  [context="index"] #canvasMask4 {
    width: unset;
  }
  [context="index"] main .work {
    margin: 0 0 30vh 0;
  }

  [context="index"] main .work .description,
  [context="index"] main .work .title,
  [context="index"] main .work .image {
    transition: opacity 1s ease;
  }
  [context="index"] main .work .description {
    display: flex;
    color: var(--black);
    font-weight: 200;
    padding-left: var(--mainPadding);
    padding-top: 20px;
    padding-right: 20px;
    font-size: 12px;
    opacity: 0;
  }

  [context="works"] main {
    grid-template-columns: none;
    left: var(--q1Margin);
    right: 0px;
    top: 50vh;
    background-color: var(--bck0);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  [context="works"] #background,
  [context="works"] .infoheader {
    display: none;
  }
  [context="works"] #col1 .infowrapper,
  [context="works"] #col2 .infowrapper {
    padding: 0;
    margin: 0;
    padding-left: var(--mainPadding);
    background-color: transparent;
  }
  [context="works"] #col1 .infowrapper > *:not(h1) {
    padding-left: var(--mainPadding);
  }
  [context="works"] main h1#title {
    position: fixed;
    top: 50vh;
    margin-bottom: unset;
    margin-top: 15px;
  }
  [context="index"] main .work .title {
    color: var(--black);
    opacity: 0;
    height: 30px;
  }
  [context="index"] main .work .title div {
    display: inline-block;
    background-color: var(--bck0);
    padding: 0 5px;
    height: 100%;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
    width: fit-content;
    padding-right: 50px;
  }
  [context="works"] #col2 .infowrapper {
    padding-left: calc(var(--mainPadding) * 3);
    padding-right: var(--q1Margin);
  }
  [context="works"] main #col2 p {
    margin-top: 0;
  }
  [context="works"] main #col6 {
    display: none;
  }
  [context="works"] #logo {
    left: var(--q1Margin);
  }
  [context="works"] #logo #logoPlayer,
  [context="index"] #logo #logoPlayer {
    transform: scale(0.9);
    transform-origin: center left;
  }
  [context="works"] #playerControls {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50vh;
    left: 0;
    margin: auto;
    width: unset;
    height: unset;
    align-items: flex-end;
    justify-content: flex-end;
  }
  [context="works"] #playerControls > div {
    width: 14px;
    height: 22.4px;
    margin-right: var(--q1Margin);
    margin-bottom: 10px;
  }

  [context="works"] nav,
  [context="index"] nav {
    align-items: center;
    display: flex;
    margin-right: var(--q1Margin);
  }
  [context="works"] nav.nav-menu a,
  [context="index"] nav.nav-menu a {
    padding: 0 8px;
    color: var(--black);
  }
}

.visibleImage {
  filter: grayscale(0) contrast(1) !important;
}
.visibleTitle {
  opacity: 1 !important;
}
.visibleDescription {
  opacity: 1 !important;
}

/* animations */

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Apply the animation to the element */
.fade-out {
  animation: fadeOut 1s ease-in-out;
  /* Adjust the duration and timing function as needed */
}
