:root {
  --bck0: #ffffff;
  --bck1: rgb(237, 237, 237);
  --bck2: #f2f5fa;
  --black: #141414;
  --blue: rgb(0, 0, 256);
  --textSize0: 12px;
  --fLight: 100;
  --fRegular: 400;
  --fBold: 600;

  --mainMargin: 42px;
  --mainPadding: 36px;
  --q1Margin: 24px;

  --headerHeight: 65px;
  --indexWorkMargin: 300px;

  --mainHeight: calc(100vh - 110px);
  --mainWidth: calc(100vw - ((var(--mainMargin) * 2) + var(--mainPadding)));
  --mainWidthMq2: calc(100vw - 56px);
}

* {
  box-sizing: border-box;
  /* disable on touch highlights of html elements, especially on mobile! */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Twkeverett, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bck0);
  color: #fff;
  /* disable scrolling / rubberband effect on mobile */
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: var(--black);
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 24px;
}
#glcanvas {
  display: block;
  top: 0;
  left: 0;
  outline: 0;
  z-index: 1;
  mix-blend-mode: multiply;
}
.canvasmask {
  background-color: #ffffff;
  z-index: 6;
}
.backgroundmask {
  background-color: #ffffff;
  position: absolute;
  z-index: 6;
}
#backgroundMask1 {
  height: 0vh;
  right: 0;
  left: calc(((var(--mainWidth) / 6) * 2));
  bottom: 0;
}
#canvasMask1 {
  height: 100vh;
  left: calc((var(--mainWidth) / 6) + var(--mainMargin) + var(--mainPadding));
  /* right: calc(var(--mainMargin) + (var(--mainWidth) / 6)); */
  right: calc(var(--mainMargin));
  position: absolute;
}
#canvasMask2 {
  position: fixed;
  height: 65px;
  width: calc((var(--mainWidth) / 6) + var(--mainMargin));
  top: 0;
  bottom: 0;
  right: 0;
}
#canvasMask3 {
  position: fixed;
  height: 55vh;
  width: calc((var(--mainWidth) / 6));
  left: calc(var(--mainMargin) + var(--mainPadding));
}
#canvasMask4 {
  position: fixed;
  height: 65vh;
  width: calc((var(--mainWidth) / 6) + var(--mainPadding));
  left: calc((var(--mainWidth) / 6) + var(--mainPadding));
}
#canvasMask5 {
  position: absolute;
  height: calc(100vh + var(--indexWorkMargin));
  left: calc(
    ((var(--mainWidth) / 6) * 2) + var(--mainMargin) + var(--mainPadding)
  );
  /* right: calc(var(--mainMargin) + (var(--mainWidth) / 6)); */
  right: 0px;
  top: -2px;
}
.srcshape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  mix-blend-mode: multiply;
}

#scrollText {
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 10;
  bottom: -13px;
}

#scrollText ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: scrollTextAnim 30s infinite linear;
}

#scrollText ul li {
  white-space: nowrap;
  display: flex;
  margin: 0 20px 0 0;
  font-size: 30px;
  font-weight: 100;
  color: black;
}

#logo {
  z-index: 1001 !important;
  filter: brightness(0);
  height: var(--headerHeight);
}

#logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#logoPlayer {
  height: var(--headerHeight);
}

nav a {
  color: var(--black);
}

.w-nav-link.w--current {
  color: var(--bck0);
}

@keyframes scrollTextAnim {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* indexPage */

[context="index"] main,
[context="index"] #about {
  /* width: calc(100vw - (var(--mainMargin) + var(--mainPadding))); */
  padding-left: calc(var(--mainMargin) + var(--mainPadding));
  padding-right: var(--mainMargin);
  position: relative;
  z-index: 3;
}

[context="index"] .srcshape {
  mix-blend-mode: multiply;
}

[context="index"] #void {
  height: 100vh;
  margin-bottom: 50px;
}

[context="index"] #work {
  min-height: 110vh;
}
[context="index"] #about {
  mix-blend-mode: multiply;
}

[context="index"] #work #workList {
  margin-bottom: var(--indexWorkMargin);
}

[context="index"] #header {
  height: 110vh;
  position: relative;
  z-index: 4;
  mix-blend-mode: multiply;
}
[context="index"] #workList .w-dyn-items,
[context="index"] #aboutList .w-dyn-item {
  display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  /* grid-template-columns: repeat(6, calc(var(--mainWidth) / 6));
  grid-template-rows: repeat(auto, calc(var(--mainWidth) / 6)); */
}
[context="index"] #aboutList .w-dyn-item {
  height: 100vh;
}
[context="index"] #aboutList {
  height: 100%;
  color: var(--black);
}

[context="index"] #curriculum {
  grid-column: 4 / 6; /* Start at 4, end before 6 (so 4 and 5) */
  grid-row: 1;
}
[context="index"] #curriculum .w-richtext {
  position: relative;
  top: 150px;
}
[context="index"] #links {
  grid-column: 5 / 7;
  grid-row: 1;
  padding-right: 260px;
}
[context="index"] #links #linksWrapper {
  position: relative;
  top: 60vh;
}
[context="index"] #links #linksContact {
  display: flex;
  flex-direction: column;
  color: var(--black);
  align-items: flex-end;
}

[context="index"] .collection-list .work {
  /* max-width: calc(var(--mainWidth) / 6); */
  width: 100%;
  height: 100%;
}

[context="index"] .collection-list .work .video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire parent space */
  aspect-ratio: 1 / 1;
}
[context="index"] .videojs-work {
  width: 100%;
  height: 100%;
}
[context="index"] .videojs-about {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: var(--headerHeight);
}

[context="index"] .collection-list .work .video .videojs-work video {
  height: 100%;
  overflow: hidden;
}
[context="index"] .videojs-about video {
  width: 100%;
}
[context="index"] .w-dyn-item #image {
  grid-area: 1/3;
}

[context="index"] .vjs-poster {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

[context="index"] #logo {
  position: fixed;
  top: 50vh;
  left: 100px;
}

[context="index"] #background {
  /* width: var(--mainWidth); */
  height: var(--mainHeight);
  background-color: var(--bck1);
  position: fixed;
  top: 65px;
  left: calc(var(--mainMargin) + var(--mainPadding));
  right: var(--mainMargin);
  z-index: 0;
}

[context="index"] .text-block {
  left: 100px;
  top: 55vh;
  font-size: 12px;
}

[context="index"] #deco1 {
  display: none;
  position: fixed;
  top: 50vh;
  left: 60px;
  width: 10px;
  height: 50px;
  z-index: 4;
  background-color: #a2a2a2;
}

[context="index"] .deco {
  z-index: 7;
}
[context="index"] #deco2,
[context="index"] #deco3 {
  position: fixed;
  top: var(--headerHeight);
  left: 400px;
  width: 35px;
  height: 2px;
  background-color: var(--black);
}

[context="index"] #deco3 {
  top: 55vh;
}

[context="index"] #text1 {
  z-index: 7;
  position: fixed;
  width: 400px;
  top: 55vh;
  left: calc((var(--mainWidth) / 6) + var(--mainPadding));
  margin-top: 25px;
  color: var(--black);
  font-size: var(--textSize0);
  font-family: Twkeverett, sans-serif;
  font-weight: var(--fLight);
}

[context="index"] main {
  mix-blend-mode: multiply;
  z-index: 5;
  /* margin: 0 0 500px 0; */
  /* background-color: aqua; */
}

[context="index"] main .work {
  margin: 0 0 20px 0;
  opacity: 0;
  position: relative;
  top: 100px;
}

[context="index"] main .work.workIndex {
  z-index: 10;
}

[context="index"] main .work .image {
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0 0 0 0;
  overflow: hidden; /* Prevent content from resizing the cell */
  min-width: 0; /* Prevents cells from expanding beyond the grid size */
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  /* align-items: flex-end; */
}

[context="index"] main .work .workelement {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(100%) contrast(1.5);
  background-size: cover;
}

[context="index"] main .work #gallery {
  display: none;
}

[context="index"] main .work a {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 5;
}

[context="index"] main .work .image {
  background-color: transparent;
}
[context="index"] main .work .image .tint {
  background-color: transparent;
  /* filter: opacity(0) grayscale(0%); */
}
[context="index"] main .work {
  filter: grayscale(1) contrast(1.2);
}

[context="index"] main .work:hover {
  filter: grayscale(0) contrast(1);
  transition: filter 0.1s ease;
}

/* [context="index"] main .work .tint:hover {
  filter: opacity(100) grayscale(0%);
  mix-blend-mode: lighten;
  transition: filter 0.1s ease; 
} */

[context="index"] main .work .title {
  color: var(--black);
  opacity: 0;
}

[context="index"] main .work .title.textVisible {
  opacity: 1;
  transition: opacity 0.1 ease;
}

[context="index"] main .work .title div {
  display: inline-block;
  background-color: var(--bck0);
  padding: 0 5px;
}

[context="index"] main .basegrid {
  background-color: red;
  aspect-ratio: 1/1;
  position: relative;
}

[context="works"] main {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  display: grid;
}

[context="index"] #text1 {
  position: fixed;
  top: 55vh;
}

[context="index"] #about {
  color: var(--bck1);
  z-index: 6;
  height: 100vh;
}

[context="index"] #about a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 5px;
}

[context="index"] #about a:hover {
  text-decoration: underline;
}

[context="index"] #about #textabout {
  font-size: 20px;
  font-weight: var(--fLight);
  opacity: 0;
}

[context="index"] #about #linksabout {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
}
[context="index"] #about #linksabout > * {
  opacity: 0;
}

[context="index"] #about #linksabout::before {
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  background-color: white;
  margin-bottom: 20px;
}

[context="index"] #about #deco4 {
  background-color: var(--bck1);
  height: 2px;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

[context="index"] #about #deco5 {
  background-color: var(--bck1);
  grid-area: 1/7;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: flex-end;
  position: relative;
  bottom: 100px;
  right: -30px;
  z-index: 0;
}

/* workPage */

body[context="works"] {
  font-size: var(--textSize0);
  font-weight: 200;
  /* opacity: 0; */
}

[context="works"] #multiplier,
#multiplier .galleryelement {
  display: none;
}

[context="works"] nav.nav-menu a {
  color: var(--bck0);
}

[context="works"] .srcshape {
  z-index: 5;
}

[context="works"] nav {
  display: none;
}

[context="works"] main {
  /* grid-template-rows: var(--headerHeight) auto; */
  color: var(--black);
  top: 0px;
  bottom: 0px;
  left: calc(var(--mainMargin) + var(--mainPadding));
  right: var(--mainMargin);
  background-color: transparent;
  position: fixed;
  z-index: 6;
}
[context="works"] .infowrapper {
  background-color: var(--bck1);
  padding-top: var(--headerHeight);
  padding-bottom: 65px;
}

[context="works"] .infoheader {
  height: var(--headerHeight);
  background-color: var(--bck0);
}

[context="works"] main #col1 {
  grid-area: 1/1;
}
[context="works"] main #col1 .infoheader {
  position: fixed;
  left: 0px;
  width: calc((var(--mainWidth) / 6) + var(--mainPadding) + var(--mainMargin));
}

[context="works"] #col1 .infowrapper {
  margin-left: calc(var(--mainPadding) * -1);
  padding-left: var(--mainPadding);
}

[context="works"] main #col2 {
  grid-area: 1/2;
}
[context="works"] main #col2 p {
  margin-top: 65px;
}

[context="works"] main #col6 {
  grid-area: 1/6;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  z-index: 5;
}

[context="works"] #background {
  /* width: var(--mainWidth); */
  height: calc(100vh - var(--headerHeight));
  background-color: var(--bck1);
  position: fixed;
  top: var(--headerHeight);
  left: var(--mainMargin);
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

[context="works"] main img {
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0 0 0 0;
  grid-area: 1/1;
  /* margin: 50px 0 0 0; */
  filter: grayscale(100%);
}

[context="works"] main h1 {
  position: relative;
  padding: 0 0 0 0;
  grid-area: 2/1;
  margin: 10px 0 30px 0;
}

[context="works"] main h2 {
  font-weight: 100;
}

[context="works"] .heading {
  font-size: var(--textSize0);
  margin: 0;
  line-height: 24px;
}

[context="works"] #col1 *:before {
  font-size: var(--textSize0);
  font-weight: var(--fBold);
}

[context="works"] #workingWith,
#workingFor,
#services,
#tools {
  font-weight: var(--fLight);
}

[context="works"] #workingWith::before {
  content: "Working with: ";
}

[context="works"] #workingFor::before {
  content: "Working for: ";
}

[context="works"] #services::before {
  margin-bottom: 8px;
  content: "Jobs developed: ";
}

[context="works"] #tools::before {
  margin-bottom: 8px;
  content: "Tools used: ";
}

[context="works"] p#description {
  align-self: flex-end;
  margin: 0;
  font-size: 12px;
  font-weight: var(--fLight);
}

[context="works"] #deco1,
#deco2 {
  position: relative;
  width: 20px;
  height: 2px;
  /* z-index: 4; */
  background-color: var(--black);
}

[context="works"] div#deco1 {
  top: -10px;
}

[context="works"] div#deco2 {
  left: 200px;
  top: 70px;
}

[context="works"] main .textlist ul {
  color: var(--black);
}

[context="works"] main #imageList {
  justify-content: flex-end;
  align-items: center;
  margin: 0 35px 0 0;
}

[context="works"] main #imageList li {
  list-style-type: none;
  font-weight: var(--fLight);
  margin: 0 0 5px 0;
}
[context="works"] main #imageList li a {
  color: var(--black);
}
[context="works"] main #imageList li.active a {
  color: var(--bck0);
  font-weight: var(--fBold);
}
[context="works"] main #imageList li {
  cursor: pointer;
}
[context="works"] #logo {
  position: fixed;
  top: 0vh;
  left: 100px;
  z-index: 4;
}

[context="works"] #playerControls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25px; /* needs defined width */
  height: 40px; /* needs defined height */
  z-index: 10;
}

[context="works"] #playerControls > div {
  width: 25px; /* needs defined width */
  height: 40px; /* needs defined height */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#playerControls {
  /* Add your positioning styles */
  transition: opacity 0.3s ease;
}

/* Optional: fade out when inactive */
#playerControls.inactive {
  opacity: 0;
}

/* filter to set the logo in white */
/* filter: invert(1) grayscale(1) brightness(2); */

@media only screen and (min-width: 300px) and (max-width: 700px) {
  [context="works"] main {
    grid-template-columns: none;
    left: var(--q1Margin);
    right: 0px;
    top: 50vh;
    background-color: var(--bck0);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  [context="works"] #background,
  [context="works"] .infoheader {
    display: none;
  }

  [context="works"] main #col1 {
    grid-area: 1/1;
  }
  [context="works"] #col1 .infowrapper,
  [context="works"] #col2 .infowrapper {
    padding: 0;
    margin: 0;
    padding-left: var(--mainPadding);
    background-color: transparent;
  }
  [context="works"] #col1 .infowrapper > *:not(h1) {
    padding-left: var(--mainPadding);
  }
  [context="works"] main h1#title {
    position: fixed;
    top: 50vh;
    margin-bottom: unset;
    margin-top: 15px;
  }
  [context="works"] #col2 .infowrapper {
    padding-left: calc(var(--mainPadding) * 3);
    padding-right: var(--q1Margin);
  }
  [context="works"] main #col2 {
    grid-area: 1/1;
  }
  [context="works"] main #col2 p {
    margin-top: 0;
  }
  [context="works"] main #col6 {
    display: none;
  }
  [context="works"] #logo {
    left: var(--q1Margin);
  }
  [context="works"] #logo #logoPlayer {
    transform: scale(0.75);
    transform-origin: center left;
  }
  [context="works"] #playerControls {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50vh;
    left: 0;
    margin: auto;
    width: unset;
    height: unset;
    align-items: flex-end;
    justify-content: flex-end;
  }
  [context="works"] #playerControls > div {
    width: 14px;
    height: 22.4px;
    margin-right: var(--q1Margin);
    margin-bottom: 10px;
  }

  /* [context="works"] #background,
  [context="index"] #background {
    width: 100vw;
    height: calc(100vh - 70px);
    position: fixed;
    top: 50px;
    left: 10px;
  }

  .navbar,
  .container-3 {
    height: 50px;
  }

  [context="index"] #work,
  [context="works"] main {
    width: 100vw;
    padding: 0 30px;
    left: 0;
    grid-template-columns: unset;
    grid-template-rows: unset;
    min-height: unset;
  }

  [context="works"] main #col1,
  [context="works"] main #col2,
  [context="works"] main #row3 {
    height: unset;
  }
  [context="works"] main #col1 {
    grid-area: 1/1;
  }
  [context="works"] main #col2 {
    grid-area: 2/1;
    height: unset;
    left: unset;
  }
  [context="works"] main #row3 {
    grid-area: unset;
    margin: unset;
    position: absolute;
    font-size: 10px !important;
    left: 90vw;
    top: 10vh;
    line-height: 15px;
  }

  [context="index"] #logoPlayer {
    height: 50px;
  }

  [context="index"] .text-block {
    left: 30px;
    top: 503px;
    font-size: 12px;
  }

  [context="index"] main .work {
    margin: 0 0 80px 0;
  }

  [context="works"] #logo,
  [context="index"] #logo {
    width: 150px;
    height: 50px;
    left: 8px;
    top: 2px;
    filter: grayscale(1) invert(1);
  }

  .nav-menu {
    margin-right: 8px;
    display: flex !important;
    align-items: center;
  }

  .nav-menu a.nav-link {
    padding: 0 10px 0 10px;
    font-weight: var(--fLight);
    font-size: 13px;
  }
  .w-nav-button {
    display: none !important;
  }

  [context="works"] #playerControls {
    display: flex !important;
    top: unset;
    bottom: 0;
    width: 50vw;
    height: 50px;
    justify-content: center;
  }

  [context="works"] #playerControls #area1 {
    display: none !important;
  } */
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  [context="index"] #background,
  [context="works"] #background {
    width: calc(100vw - 28px);
    left: 28px;
  }
  [context="index"] #logo,
  [context="works"] #logo {
    width: 180px;
    left: 28px;
    display: flex;
  }
  [context="index"] #about,
  [context="index"] main .collection-list {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    display: grid;
  }
  [context="index"] #work {
    width: var(--mainWidthMq2);
    left: 28px;
  }

  [context="index"] #background {
    width: calc(100vw - 28px);
    left: 28px;
  }
  [context="index"] main .work .title {
    opacity: 1;
  }
  [context="index"] #about #image {
    grid-area: 1/3;
  }
  [context="index"] #about #deco5 {
    grid-area: 1/3;
    bottom: 100px;
    right: -30px;
  }
  [context="index"] #about .w-dyn-list {
    grid-column: span 2 / 3;
  }
}

/* animations */

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Apply the animation to the element */
.fade-out {
  animation: fadeOut 1s ease-in-out;
  /* Adjust the duration and timing function as needed */
}
